.Navbar {
  
}

.Navbar ul {
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 30px 0;
  background: #1976d2;
  color: white;
  font-family: Roboto;
  font-size: 24px;
  transition: 1s;
}

a {
  color: white;
} /* Unvisited link  */
a:visited {
  color: white;
} /* Visited link    */
a:hover {
  color: rgb(228, 228, 228);
} /* Mouse over link */
a:active {
  color: white;
} /* Selected link   */

.Navbar a {
  text-decoration: none;
}
